
obj/Debug/net5.0/ref/Exam.dll
obj/Debug/net5.0/Exam.pdb
obj/Debug/net5.0/Exam.genruntimeconfig.cache
obj/Debug/net5.0/Exam.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Exam.dll
obj/Debug/net5.0/Exam.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Exam.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Exam.csproj.AssemblyReference.cache
obj/Debug/net5.0/Exam.assets.cache
obj/Debug/net5.0/Exam.AssemblyInfoInputs.cache
obj/Debug/net5.0/Exam.AssemblyInfo.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
bin/Debug/net5.0/ref/Exam.dll
bin/Debug/net5.0/Exam.runtimeconfig.json
bin/Debug/net5.0/Exam.runtimeconfig.dev.json
bin/Debug/net5.0/Exam.pdb
bin/Debug/net5.0/Exam.exe
bin/Debug/net5.0/Exam.dll
bin/Debug/net5.0/Exam.deps.json
